setuptools==75.0.0                       
python-dateutil                  
wheel           
matplotlib                        
numpy                       
openssl==3.0.12               
packaging==24.1                         
pandas                        
pip==23.3.1
plotly                       
python               
scikit-learn==1.3.2                        
scipy==1.10.1                       
seaborn                      
streamlit                       
