setuptools==75.0.0                       
python-dateutil                  
wheel           
matplotlib                        
numpy                     
packaging                 
pandas                        
pip
plotly                       
python               
scikit-learn                    
scipy                       
seaborn                      
streamlit                       
